<p id="notice"><%= notice %></p>

<p>
  <strong>Noti message:</strong>
  <%= @notification_content.noti_message %>
</p>

<p>
  <strong>Details:</strong>
  <%= @notification_content.details_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @notification_content.user_id %>
</p>

<%= link_to 'Edit', edit_notification_content_path(@notification_content) %> |
<%= link_to 'Back', notification_contents_path %>
