<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css">


<div id="myGrid" data-controller="document-grid" class="ag-theme-alpine" data-document-grid-documents="<%= documents.to_s %>">


</div>

<style>
 .ag-header-group-cell{
     background: yellow;
 }
 .ag-header-cell{
     background: green;
     color: white;
 }
 
 .ag-theme-alpine input[class^="ag-"]:not([type]), .ag-theme-alpine input[class^="ag-"][type="text"], .ag-theme-alpine input[class^="ag-"][type="number"], .ag-theme-alpine input[class^="ag-"][type="tel"], .ag-theme-alpine input[class^="ag-"][type="date"], .ag-theme-alpine input[class^="ag-"][type="datetime-local"], .ag-theme-alpine textarea[class^="ag-"]{
     color: black !important;
 }

 
</style>
