<%= simple_form_for(document, local: true) do |form| %>
    <% if document.errors.any? %>
	<div id="error_explanation">
	    <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

	    <ul>
		<% document.errors.full_messages.each do |message| %>
		    <li><%= message %></li>
		<% end %>
	    </ul>
	</div>
    <% end %>
    <div class="field"  data-controller="auto-complete"  data-auto-complete-id="#document_sub_division" data-auto-complete-type="subdivision">
	    <%= form.input :sub_division, label: "ဌာနခွဲ" %>
    </div>    

    <div class="field">
        <%#= form.input :destination_department, :collection => ['MoE','DHE','DERPT', 'DMNE(Research)', 'DMNE(Education)', 'DTVET', 'DRI', 'DAE', 'DME', 'Dept of Ethic Language', 'Other Ministries or Departments'], label: "ပေးပို့မည့်ဌာန" %>
    </div>

    <div class="form-group field">
        <label class="string optional" for="document_destination_department">ပေးပို့မည့်ဌာန</label>
        <input list="country" name="document[destination_department]" class="form-control string optional" >
        <datalist id="country">
            <option value="MoE">
            <option value="DHE">
            <option value="DERPT">
            <option value="DMNE(Research)">
            <option value="DMNE(Education)">
            <option value="DTVET">
            <option value="DRI">
            <option value="DAE">
            <option value="DME">
            <option value="Dept of Ethic Language">
            <option value="Other Ministries or Departments">
        </datalist>
    </div>

    <div class="field">
	<%= form.input :subject, label: "အကြောင်းအရာ"	%>
    </div>

    <div class="field">
	    <%= form.input :working_status, label: "ဆောင်ရွက်နေသည့်အခြေအနေ"	%>
    </div>

    <div class="field">
	    <%= form.input :division, label: "ဖိုင်အမည်"	%>
    </div>
    
    <div data-controller="dependent-user-select" data-dependent-user-select-document-id="<%= @document.id.present? ? @document.id : 0 %>">
        <div class="field">
            <%= simple_fields_for :other do |o| %>
                <%= o.input :departments, :collection => Department.all, :label_method => :name, :value_method => :id, input_html: { multiple: true,:data => {:target => 'dependent-user-select.departmentSelect', :action => "dependent-user-select#handleSelectChange"}  } %>
            <% end %>
        </div>

        <div class="field">
            <%= form.association :users, :collection => User.where.not(:user_type => ['admin', 'super_admin']).where.not(id: current_user.id), :label_method => :name, :value_method => :id, :selected => current_user.id, input_html: {:data => {:target => 'dependent-user-select.userSelect'} } %>
        </div>
        
    </div>

    <div class="field">
        <%#= form.input :reference_division, label: "ရည်ညွှန်းစာဌာန"	%>
        <%= form.input :reference_document_no, label: "ရည်ညွှန်းစာအမှတ်"	%>
    </div>
    
    <div class="field">
        <%= form.hidden_field :created_user, value: current_user.id %>
    </div>


    <div class="actions">
	<%= form.submit "Save", class: "btn btn-success" %>
    </div>
<% end %>