
<div class="col-md-8 offset-md-2">
    <h4>New Document</h4>
    <hr>
    <%= render 'form', document: @document %>
    <%= link_to 'Back', documents_path, class: "btn btn-info mb-3 mt-3" %>
</div>

