
<div class="row">
<div class="col-md-8 offset-md-2">
<h5>
    <b>
	အခြေခံပညာဦးစီးဌာန၏ ညှိနှိုင်းစာနှင့် တင်ပြစာ
    </b>
</h5>

<table class="table mt-4 table-responsive-sm table-responsive-xs table-striped">
    <tr>
	<th>
	    စဥ်
	</th>
	<td>
	    <%= @document.id.to_s.to_mm %>
	</td>
    </tr>
    <tr>
	<th>
	    ရက်စွဲ

	</th>
	<td>
	    <%= @document.document_date.to_s.to_mm %>
	</td>
    </tr>
    <tr>
	<th>
	    စာအမှတ်

	</th>
	<td class="document_no">
	    <%= @document.document_no.to_s.to_mm %>
	</td>
    </tr>
    <tr>
	<th>
	    ဌာနခွဲ
	</th>
	<td>
	    <%= @document.sub_division %>
	</td>
    </tr>
    <tr>
	<th>
	    ပေးပို့မည့်ဌာန

	</th>
	<td>
	    <%= @document.destination_department %>
	</td>
    </tr>

    <tr>
	<th>
	    အကြောင်းအရာ
	</th>
	<td>
	    <%= @document.subject %>
	</td>
    </tr>
    <tr>
	<th>
	    ပူးတွဲ
	</th>
	<td>
		<% if @document.attachment.attachments.present? %>
			<% @document.attachment.attachments.each do |attachment| %>
				<span style="margin-right: 7px;"><%= link_to  "attachment",attachment, target: :_blank %></span>
			<% end %>
	  <% end %>
	</td>
    </tr>
    <tr>
	<th>
	    ဆောင်ရွက်နေသည့်အခြေအနေ
	</th>
	<td>
	    <%= @document.working_status %>
	</td>
    </tr>
    <tr>
	<th>
	    ဖိုင်အမည်
	</th>
	<td>
	    <%= @document.division %>
	</td>
    </tr>
    <tr>
	<th>
	    ရည်ညွှန်းစာအမှတ်

	</th>
	<td>
	    <%= @document.reference_document_no%>
	</td>
	</tr>
	<tr>
	<th>
		ရည်ညွှန်းစာဌာန

	</th>
	<td>
	    <%= @document.reference_division%>
	</td>
    </tr>

</table>

	<%= simple_form_for(@document, local: true) do |form| %>
		<% if @document.created_user == current_user.id %>

			<div class="field">
				<%= form.input :attachment, as: :file, required: true, input_html: { multiple: true}, id: "attachment" %>
			</div>

			<% unless current_user.user_type == "viewer" %>
					<%= link_to 'Edit', edit_document_path(@document),class: "btn btn-warning" %> |
		
						<%= form.submit "Done", class: "btn btn-info submit-btn"  %> |
					
			<% end %>	
		<% end %>
				<%= link_to 'Home Page', documents_path, class: "btn btn-success" %>
	<% end %>


    <hr/>
    <h4><b> Comments</b> </h4>
    <% unless current_user.user_type == "viewer" %>
	<%= simple_form_for(Comment.new, local: true,url: document_create_comments_path) do |form| %>
	    <div class="field mt-3">
		<div class="row">
		    <%= form.hidden_field "document_id", value: @document.id %>

		    
		    <div class="col-6">
			<%= form.input :title %>
		    </div>
		    <div class="col-3">
		    </div>

		    <div class="col-6">
			<%= form.input :comment %>
		    </div>
		    <div class="col-12 mb-3">
			<%= form.submit class: "btn btn-success" %>
	    </div>
	</div>
    </div>
<% end %>
<% end %>
<hr>
<div class="mt-3 mb-3">
<%  @document.comments.each do |comment| %>
    <div class="card mt-3">
	<h5 class="card-header"><%= comment.user.present? ? comment.user.name : "" %> commented	<span class="float-right"><%= time_ago_in_words(comment.created_at) %></span> </h5>

	<div class="card-body">
	    <h5 class="card-title"><%= comment.title %></h5>
		<p class="card-text"><%= comment.comment %></p>

	</div>
    </div>    


<% end %>
</div>
</div>
</div>