<div class="row">

    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12  offset-lg-4 offset-md-4 mt-5">
    <div class="card" >

	<div class="text-center pt-3 pb-3">

	    <img src="/images/logo.png" width="100" height="100"/>
	    
	</div>
	<div class="card-header" style="background: #218838; color: white;" >
	    DBE Registered Letter Document 
	</div>
	<div class="container pb-3 pt-2">
	    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div class="form-inputs">
		    <%= f.input :email,
			required: false,
			autofocus: true,
			input_html: { autocomplete: "email" },class: "form-control" %>
		    <%= f.input :password,
			required: false,
			input_html: { autocomplete: "current-password" },class: "form-control" %>
		    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
		</div>

		<div class="form-actions">
		    <%= f.button :submit, "Log in", class: "btn btn-success" %>
		</div>
	</div>
	    <% end %>


    </div>
    </div>
</div>
