<p id="notice"><%= notice %></p>

<h1>Api V1 Documents</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_v1_documents.each do |api_v1_document| %>
      <tr>
        <td><%= link_to 'Show', api_v1_document %></td>
        <td><%= link_to 'Edit', edit_api_v1_document_path(api_v1_document) %></td>
        <td><%= link_to 'Destroy', api_v1_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api V1 Document', new_api_v1_document_path %>
