<html style="height: 100%">
    <head>
	<title>DBE Letter Registry</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<script src="https://unpkg.com/ag-grid-enterprise/dist/ag-grid-enterprise.min.noStyle.js"></script>

	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
	<script src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>

	<!-- TODO: Add SDKs for Firebase products that you want to use
		https://firebase.google.com/docs/web/setup#available-libraries -->
	<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-analytics.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-messaging.js"></script>

	<%= javascript_pack_tag 'firebase' %>

    </head>

    <body>	
	<% unless request.url.include? "sign_in" %>
	    <% if mobile_device?  %>		
		<%= render partial: "shared/drawer" %>
	    <% else %>
		<%= render partial: "shared/navbar" %>
	    <% end %>
	<% end %>
	<div class="container-fluid p-0 <%=  'mdc-drawer-app-content' if mobile_device? %>" style="height:100%;">
	    <% if mobile_device? && user_signed_in? %>
		<header class="mdc-top-app-bar app-bar" id="app-bar" data-controller="drawer" style="background: green;">
		    <div class="mdc-top-app-bar__row">
			<section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
			    <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
			    <span class="mdc-top-app-bar__title">DBE Outgoing Registry</span>
			</section>
		    </div>
		</header>
	    <% end %>
	    <main class="main-content" id="main-content">
		<div class="<%= 'mdc-top-app-bar--fixed-adjust' if mobile_device? %>">
		    <div class="mt-3 pl-3 pr-3" data-controller="test">

			<%= yield %>
		    </div>
		</div>
	    </main>
	</div>
	
	</body>


    <% if mobile_device? %>
	<style>
	 
	 body {
	     display: flex;
	     height: 100vh;
	 }

	 .mdc-drawer-app-content {
	     flex: auto;
	     overflow: auto;
	     position: relative;
	 }

	 .main-content {
	     overflow: auto;
	     height: 100%;
	 }

	 .app-bar {
	     position: absolute;
	 }

	 // only apply this style if below top app bar
	 .mdc-top-app-bar {
	     z-index: 7;
	 }

	</style>
    <% end %>
</html>
